.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 10vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --end-toilet-height: 22%;
}

@keyframes white-toilet-fill {
  0% { clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%); }
  100% { clip-path: polygon(0% var(--end-toilet-height), 100% var(--end-toilet-height), 100% 0%, 0% 0%); }
}

@keyframes brown-toilet-fill {
  0% { clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); }
  100% { clip-path: polygon(0% var(--end-toilet-height), 100% var(--end-toilet-height), 100% 100%, 0% 100%); }
}

.Outer {
  position: relative;
}

.Toilet-white {
  color: white;
  position: relative;
  z-index: 0;
  clip-path: polygon(0% var(--end-toilet-height), 100% var(--end-toilet-height), 100% 0%, 0% 0%);
  animation: white-toilet-fill 1s;
}

.Toilet-brown {
  color: brown;
  position: absolute;
  top: 0px;
  left: 0px;
  clip-path: polygon(0% var(--end-toilet-height), 100% var(--end-toilet-height), 100% 100%, 0% 100%);
  animation: brown-toilet-fill 1s;
}
