.App {
  text-align: center;
  background-color: #F3E5AB;
  color: #282c34;
  height: 100vh;
}

.App-header {
  padding: 40px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: #282c34;
}

.Big-font {
  font-size: calc(10px + 5vmin);
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%
}

.Spotify-logo {
  height: 5vh;
}

:root {
  --end-toilet-height: 0%;
}

@keyframes white-toilet-fill {
  0% { clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%); }
  15% { clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%); }
  100% { clip-path: polygon(0% var(--end-toilet-height), 100% var(--end-toilet-height), 100% 0%, 0% 0%); }
}

@keyframes brown-toilet-fill {
  0% { clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); }
  15% { clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); }
  100% { clip-path: polygon(0% var(--end-toilet-height), 100% var(--end-toilet-height), 100% 100%, 0% 100%); }
}

.Outer {
  position: relative;
  height: 55vh;
  justify-content: center;
  font-size: calc(10px + 5vmin);
}

.Toilet-white {
  color: white;
  position: relative;
  height: 40vh;
  z-index: 0;
  clip-path: polygon(0% var(--end-toilet-height), 100% var(--end-toilet-height), 100% 0%, 0% 0%);
  animation: white-toilet-fill 2s;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Toilet-brown {
  color: #7b5c00;
  position: absolute;
  height: 40vh;
  top: 0px;
  left: 0px;
  clip-path: polygon(0% var(--end-toilet-height), 100% var(--end-toilet-height), 100% 100%, 0% 100%);
  animation: brown-toilet-fill 2s;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
